.w-25 {
    border-bottom: 5px solid black;
    width: 20%;
    margin: auto;
    margin-bottom: 5rem;
}

.text-custom {
    font-family: 'Montserrat Alternates', sans-serif !important;
    color: #2e3092;
}